<ol class="post-list">
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post_text}}" target="_blank">{{title}}</a>
                <span>({{post_text}})</span>
            </div>
        </article>
    </li>
</ol>